        <!-- navbar -->
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <div class="d-flex flex-column">
                      <a class="navbar-brand text-warning" href="/">KubeNews <span style="font-size: 10px;">(v2.1)</span></a>
                      <% if (locals.os) {%>
                        <span class="text-warning text-lowercase" style="font-size: 12px;">pod: <%= os.platform %>_<%= os.arch %>-<strong><%= os.hostname %></strong></span>
                      <% } %>
                    </div>
                    <ul class="nav">
                        <li class="nav-item">
                          <a class="nav-link active" style="color: #ffc105;" aria-current="page" href="/post">Novo Post</a>
                        </li>                       
                      </ul>
                </div>
            </nav>
        </div>